@model ViewModel.StartGame.InnerGameModel

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/GameStyle.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img src="~/Content/Images/blackjack-table.svg" />
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>

</div>
