<link href="~/css/game-style.css" rel="stylesheet" />
<link href="~/css/history.css" rel="stylesheet" />
<script src="~/Scripts/game/history.js"></script>
<div id="grid" class="grid">
</div>
<div class="details-container">
    <div class="closeImg" onclick="CloseDetailsWindow()">
        <img src="~/Content/Images/close.png" />
    </div>
    <div class="container">
        <div class="row">
            <div id="rounds"></div>
            <div id="info-round"></div>
        </div>
    </div>
</div>
<div class="dark"></div>

